<% include header %>

<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>My Dashboard</h2>
      <nav id="breadcrumbs">
        <ul class="padding">
          <li>You are here:</li>
          <li><a href="">Home</a></li>
          <li>Dashboard</li>
        </ul>
      </nav>
    </div>

  </div>
</div>


<!-- Content
================================================== -->
<!-- Icon Boxes -->
<div class="section-background top-0">
  <div class="container">

    <div class="one-third column">
      <div class="icon-box rounded alt">
        <a href="/manage/admin/manage-blog"><i class="ln ln-icon-Folder-Add"></i></a>
        <h4>Manage Blog</h4>
        <p><b>Create</b>, and Delete blog post here.</p>
      </div>
    </div>

    <div class="one-third column">
      <div class="icon-box rounded alt">
        <a href="/manage/admin/manage-jobs"><i class="ln ln-icon-Search-onCloud"></i></a>
        <h4>Manage Jobs</h4>
        <p>Create, Edit and Delete Jobs post here.</p>
      </div>
    </div>

    <div class="one-third column">
      <div class="icon-box rounded alt">
        <i class="ln ln-icon-Business-ManWoman"></i>
        <h4>Manage Account</h4>
        <p>Change password and create new admin here.</p>
      </div>
    </div>

  </div>
</div>
<!-- Icon Boxes / End -->


<% include footer %>
