<% include header %>

<!-- Titlebar
================================================== -->



<!-- Content
================================================== -->

<!-- Container section -->
<div class="container"  ng-controller="adminloginCtrl">

  <div class="my-account">

    <ul class="tabs-nav">
      <li class="active"><a href="/manage/admin/login">Login</a></li>
    </ul>

    <div class="tabs-container">
      <!-- Login section-->
      <div class="tab-content">
        <form class="login" name="loginForm" ng-submit="onSubmit()" novalidate>

          <p class="form-row form-row-wide">
            <label for="email">Email:
              <i class="ln ln-icon-Mail"></i>
              <input type="text" name="email" ng-model="credentials.email" ng-click="clear()" ng-pattern="/^([a-z][a-zA-Z0-9_]*(\.[a-zA-Z][a-zA-Z0-9_]*)?@[a-z][a-zA-Z-0-9]*\.[a-z]+(\.[a-z]+)?)|[7-9][0-9]{9}$/" required>
            </label>
            <span class="error"  ng-cloak class="ng-cloak" ng-if="loginForm.email.$error.pattern">Enter correct email!</span>
          </p>

          <p class="form-row form-row-wide">
            <label for="password1">Password (8 or more characters):
              <i class="ln ln-icon-Lock-2"></i>
              <input class="input-text" ng-click="clear()" name="password" type="password" ng-minlength="8" ng-model="credentials.password" required />
            </label>
            <span class="error" ng-cloak class="ng-cloak" ng-show="loginForm.password.$error.minlength">8 characters or more</span>
          </p>

          <p class="form-row ">
            <button type="submit" class="button fullw border fw margin-top-10" ng-disabled="loginForm.$invalid || showbtn" ng-cloak class="ng-cloak">{{login}}</button>
             <span class="error" ng-cloak class="ng-cloak" ng-show="formError">{{formError}}</span>
          </p>

          <p class="lost_password">
            <a href="#" >Lost Your Password?</a>
          </p>
          
        </form>
      </div>

    </div>
  </div>
</div>

<% include footer %>
